.politicas-cookies {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .politicas-cookies h1 {
    color: #333;
  }
  
  .politicas-cookies p  {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  .titulo{
    text-align: center;
  }
  