.featurers-book-cotnainer{
    position: relative;
    
}
.featurebook-box{
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}
.featurebook{
    background: var(--color-light);
}
.featurebook-info{
    margin-top: 8px;
}
.featurers-book-cotnainer .swiper-pagination{
    margin: auto;
    margin-top: 120px;
}
.feature-borderr{
    margin-top: 56px ;
    height: 2.5px;
    background: var(--color-bg-3);
}
.feature-btn{
    margin: auto;
    margin-right: 0;
    margin-top: 40px;
}

@media(max-width:1024px){
    .feature-btn{
        margin: auto;
        margin-top: 30px;
    }
    .featurebook-box span{
        margin-bottom: 23px !important;
        font-size: 25px !important;
    }
    .featurebook-img{
        width: 90%;
    }
    
}