/*...................Google Fonts.............. */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,600;0,800;1,200&family=Prata&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Plus+Jakarta+Sans:ital,wght@0,600;0,800;1,200&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/forms;
/*...................Custom styles.............. */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-shadow: none;
    list-style: none;
    font-weight: 400;
    text-decoration: none;
}

:root{
    --color-primary: #e62a11;
    --color-black: #773030;
    --color-black-Ex: #d31b1b;
    --color-dark: #7A7A7A;
    --color-dark-Ex2: #b1a1a1;
    --color-dark-Ex: #ffffff;
    --color-light: #ffffff;
    --color-negro:  #575555;

    --color-bg-1: #ffffff;
    --color-bg-2: #ffffff;
    --color-bg-3: #f6eeee;
    --color-bg-4: #ad2e2e;


    --font-family-prata: 'Oswald', sans-serif;
    --font-family-Jakarta: 'Plus Jakarta Sans', sans-serif;

    --transition: .4s ease;

}

html{
  scroll-behavior: smooth;
  color: var(--color-dark);
  font-family: var(--font-family-Jakarta);
}

body{
    background: var(--color-bg-1);
    overflow-x: hidden;
}

h1,h2,h3,h4,h5{
    font-family: var(--font-family-prata);
    text-transform: capitalize;
}

h1{
    font-size: 73px;
    /*line-height: 145px;*/
    color: var(--color-black-Ex);

}
h2{
    font-size: 58px;
    line-height: auto;
    color: var(--color-black);
}
h3{
    font-size: 28px;
    line-height: auto;
    color: var(--color-black);
}
.h3-ex{
    font-size: 26px !important;
}
h4{
    font-size: 22px;
    line-height: auto;
    color: var(--color-black)
}
h5{
    font-size: 17px;
    color: var(--color-dark)
}
h5 span{
    font-size: 18px;
    color: var(--color-primary)
}
p{
    color: var(--color-negro) !important;
    font-size: 14px;
    line-height: 220%;
    letter-spacing: 4%;    
}
small{
    font-size: 13px;
    letter-spacing: 16%;
    color: var(--color-dark);
}

.btn{
    display: inline-block;
    width: fit-content;
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: var(--transition);
    position: relative;
    border-radius: 5%;
}
.btn::after{
    content: '';
    width: 0;
    height: 100%;
    background: var(--color-black-Ex);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--transition);
    border-radius: 5%;
}
.btn:hover::after{
    width: 100%;
    border-radius: 5%;
}
.btn:hover{
    color: var(--color-bg-1);
    border-radius: 5%;
}
.btn-border{
    border: 1px solid var(--color-black);
    border-radius: 5%;
}
button{
    background: transparent;
    border: none;
}
img{
    width: 100%;
    object-fit: cover;
}
section{
    padding: 180px 0 !important;
}
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1420px;
}

/*...................Max-width:1024px.................... */

@media(max-width:1024px){
    h1{
        font-size: 60px !important;
    }
    h2{
        font-size: 38px !important;
    }
    h3{
        font-size: 26px !important;
    }
    h5 span{
        font-size: 60px !important;
    }
    section{
        padding: 100px 0 !important;
    }
}

/*...................Max-width:600px.................... */

@media(max-width:600px){
    h1{
        font-size: 40px !important;
    }
    h2{
        font-size: 32px !important;
    }
    h3{
        font-size: 24px !important;
    }
    h4{
        font-size: 20px ;
    }
    section{
        padding: 70px 0 !important;
    }
}